

h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 30px;
    padding-top: 10px;
    color: white;
    position: relative;
    width: 900px;
    margin: 1em auto;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-size: 20px;
    padding: 0;
    color: white;
    position: relative;
    width: 900px;
    margin: 10px auto; 
}

body {
    background-color: #555352;

}

#container {
    display: flex;
    position: relative;
    width: 900px;
    margin: 1em auto;
}

#proposal {
    position: relative;
    width: 900px;
    margin: 1em auto; 
    color: white;
    font-family: 'Overpass Mono', monospace;
    line-height: 2em;
    
}


div p {
    line-height: 2em;
    display: inline-block;
    padding: .5em;
    padding-left: 10px;
    color:#e4b772;
    font-family: 'Overpass Mono', monospace;


}

img {
    padding-right: 30px;
}

footer {
    align-items: center;
    position: relative;
    width: 900px;
    margin: 1em auto;
    padding-top: 10px;
}

a {
    text-decoration: none;
    padding: .5em;
    color:white;
    font-family: 'Overpass Mono', monospace;
    margin-top: 5px;

}

a:hover {
    background-color: #f6db78;
    color: #333;
    border-radius: 10px;
}

