img {
    display: block;
    width: 500px;
    height: 500px;
    margin-left: 100px;
}

#main {
    display: flex;
    justify-content: center;
}
#ends {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

#ends button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 15px;
}

h1 {
    padding: 10px;
    margin:0;
    
}

h2 {
    margin-bottom: 20px;
    margin-top: 0;

}

#scores {
    margin: 30px;
}